@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="container text-center"><h4>Sur ce site, vous pourrez trouver toutes sortes de paires de chaussures de football. Nous proposons différents types de modèles : vintage, pour homme, pour femme, etc. </h4></div>
<br />
<br />


<div style="font-size:20px; background-color:whitesmoke; border:1px solid lightgray;padding-left:20px"><b>Nouveautés - Nike</b></div>
<div class="text-center" style="background-image: url(../lib/chaussure-4.png); background-repeat: no-repeat;width:900px; margin-left:105px; margin-top:20px">
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
    <br />
    &nbsp;
</div>
<div style="font-size:20px; background-color:whitesmoke; border:1px solid lightgray;padding-left:20px">
    <b>Tendances du moment</b>

</div>
<div style="margin-left:125px;margin-top:20px">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="background-image: url(../lib/tendance-1.png); background-repeat: no-repeat; text-align:center; ">
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                </div>
            </div>
            <div class="carousel-item">
                <div style="background-image: url(../lib/tendance-2.png); background-repeat: no-repeat; text-align:center; ">
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                </div>
            </div>
            <div class="carousel-item">
                <div style="background-image: url(../lib/tendance-3.png); background-repeat: no-repeat; text-align:center; ">
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                    <br />
                    &nbsp;
                </div>
            </div>
        </div>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span style="background-color:grey; border-radius:100px; width:40px; height:30px " class="carousel-control-next-icon" aria-hidden="true"></span>
            <span style="background-color:grey; border-radius:100px; width:40px; height:30px " class="sr-only">Next</span>
        </a>
    </div>
</div>
<div style="border-bottom:1px solid black; margin-top: 50px; margin-bottom:50px;"></div>
<div style="font-size:20px; background-color:whitesmoke; border:1px solid lightgray;padding-left:20px"><b>Collection</b></div>
<br />
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-left:105px;margin-top:20px; margin-bottom:400px">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="text-align:center">
            <div style="background-image: url(../lib/chaussure-1.png); background-repeat: no-repeat; text-align:center; ">
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
            </div>
        </div>
        <div class="carousel-item" style="text-align:center">
            <div style="background-image: url(../lib/chaussure-2.png); background-repeat: no-repeat; text-align:center;">
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
            </div>
        </div>
        <div class="carousel-item" style="text-align:center">
            <div style="background-image: url(../lib/chaussure-3.png); background-repeat: no-repeat; text-align:center;">
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
                <br />
                &nbsp;
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="">
        <span style="        background-color: grey;
        border-radius: 100px;
        width: 40px;
        height: 30px" class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span style="background-color:grey; border-radius:100px; width:40px; height:30px " class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

